<!-- <div class="row" id="countdown">
    <div class="col-lg-12 text-center">
    </div>
</div> -->

<div class="countdown" id="clock"> </div>

<script type="text/javascript">

    $('#clock').countdown('2018/04/18').on('update.countdown', function(event) {
       var $this = $(this).html(event.strftime(''
         + '<span id="count">%-w 주 </span>  '
         + '<span id="count">%-d 일 </span>  '
         + '<span id="count">%H 시간 </span>  '
         + '<span id="count">%M 분 </span>  '
         + '<span id="count">%S 초 </span> '));
     });
      // $('#getting-started').countdown('2018/04/17', function(event) {
      //   $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
      // });
</script>
