<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 style="color:#fff;"> Skills </h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-code fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Front End</strong>
                            </h4>
                            <ul class="skill">
                                <li class="skill_list"> HTML </li>
                                <li class="skill_list"> CSS </li>
                                <li class="skill_list"> Javascript </li>
                            </ul>
                            <a href="#" class="btn btn-light">More +</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-diamond fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Back End</strong>
                            </h4>
                            <ul class="skill">
                                <li class="skill_list"> Ruby On Rails </li>
                                <li class="skill_list"> Python - Django </li>
                                <li class="skill_list"> Example </li>
                            </ul>
                            <a href="#" class="btn btn-light">More +</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong> Language Spec </strong>
                            </h4>
                            <ul class="skill">
                                <li class="skill_list"> C | C++ | Java </li>
                                <li class="skill_list"> Python | Ruby </li>
                            </ul>
                            <a href="#" class="btn btn-light">More + </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong> Base knowledge</strong>
                            </h4>
                            <ul class="skill">
                                <li class="skill_list"> Data Structure | Algorithm </li>
                                <li class="skill_list"> Linux | AWS EC2 | AWS S3 </li>
                                <li class="skill_list"> Travis Ci | Git </li>
                            </ul>
                            <a href="#" class="btn btn-light">More +</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
