<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>My Skills</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-code fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Front End</strong>
                            </h4>
                            <p style="margin-top:5px"> HTML + CSS + Javascript </p>
                            <a href="#" class="btn btn-light">More +</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-diamond fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Back End</strong>
                            </h4>
                            <p style="margin-top:5px"> I'm making the web site by using the ruby web framework ruby on rails. </p>
                            <a href="#" class="btn btn-light">More +</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-globe fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong> Language Spec</strong>
                            </h4>
                            <p style="margin-top:5px"> C, C++, Java, Python, Ruby, korean, English </p>
                            <a href="#" class="btn btn-light">More + </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p style="margin-top:5px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">More +</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->

            <div class="col-lg-8 col-lg-offset-2" style="padding-top:50px;">
                <ul class="list-inline top-social">
                    <li>Follow Me:</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
