<!-- Timeline -->
<section id="timeline">
<div class="container">
    <!-- <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div> -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Timeline</h2>
            <hr class="star-primary">
        </div>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"> # 1995 - 2013 </h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10/13 </small></p>
            </div>
            <div class="timeline-body">
                <ul style="list-style-type:square;">
                  <li style="margin:20px;"> 전라북도 군산시 출생 </li>
                  <li style="margin:20px;"> 군산 경포 초등학교 졸업 </li>
                  <li style="margin:20px;"> 군산 제일 중학교 졸업 </li>
                  <li style="margin:20px;"> 군산 제일 고등학교 졸업 </li>
                </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"> # 2014 - 2016 </h4>
            </div>
            <div class="timeline-body">
                <ul style="list-style-type:square;">
                  <li style="margin:20px;"> 원광대학교 컴퓨터공학과 입학 </li>
                  <li style="margin:20px;"> 학술 동아리 에니악 활동 </li>
                  <li style="margin:20px;"> 멋쟁이 사자처럼 3기 활동 </li>
                  <li style="margin:20px;"> 창의력 경진대회 대상 수상 </li>
                  <li style="margin:20px;"> 컴공인의 날 아이디어 분야 금상 수상 </li>
                  <li style="margin:20px;"> 컴공인의 날 포트폴리오 분야 2등 </li>
                </ul>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"># 군 입대 </h4>
            </div>
            <div class="timeline-body">
                <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 04/18 </small></p> -->
                <ul style="list-style-type:square;">
                  <li style="margin:20px;"> 4/18일 공군 입대 (경남 진주 훈련소)</li>
                </ul>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"># 미래 계획</h4>
            </div>
            <div class="timeline-body">
                <ul style="list-style-type:square;">
                  <li style="margin:20px;"> 삼성 소프트웨어 멤버십 지원 </li>
                  <li style="margin:20px;"> 알고리즘 대회 참가 </li>
                  <li style="margin:20px;"> 웹 프로젝트 진행 </li>
                  <li style="margin:20px;"> Online MOOC 강의 수강 </li>
                </ul>
            </div>
          </div>
        </li>
    </ul>
</div>
</section>
