<%= render "index/skills" %>

<%= render "index/timeline" %>


<aside class="callout">
    <div class="text-vertical-center">
        <h1> 군 복무 남은 시간 </h1>
        <%= render "index/countdown" %>
    </div>
</aside>
