// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.countdown {
    font-size: 20px;
    padding: 40px 20px;
    color: white;
}

#countdown {
    font-size: 40px;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(32, 126, 179);
    color: white;
}

#count {
    font-size: 40px;
}
